* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*margin: 0;*/
  width: 100%;
  height: 100%;
  background: #2C2E35;
  /*border: red solid 1px;*/
}

input {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;

}
/*input[type="number"]::-webkit-outer-spin-button,*/
/*input[type="number"]::-webkit-inner-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/

/*!* Для браузера Firefox *!*/
/*input[type="number"] {*/
/*  -moz-appearance: textfield;*/
/*}*/
